*{
    margin: 0px;
    padding: 0px;  
    color: rgb(0, 0, 0);
    align-items: center;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
.logo{
   
    height: 200px;
    
}
img{

    height: 50px; 
    margin-top: 89px; 

}
main{ 
    margin-top: 33px;
    top: 20%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);  
}
.textifild{
    margin-top: 24px;
}
.about{  
    
    width: 650px;
    display: flex;
    align-items: flex-start;
    margin: 40px 10px;
    justify-content:center;
}
.about > p{
    
    padding: 5px;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 286px;
    height: 7px;
    left: 170px ;
}


    .about> input{
       
        width: 50%;
        border: none;
        border-radius: 4px;
        padding: 15px;
        color: rgb(17, 16, 16);
        font-size: 12pt;
        outline: none;
        border: 1px solid #0FA47F;

    }
    input::placeholder{
      
        padding-left: 10px;
    }
    .recaptcha > img{
        border: 2px solid red;
     margin-top: 1vw;
     
     height: 89px;

    }
    footer{
        
        margin-top: 13px;
    }
    .btn>button{
        color: #ffff;
        
        background-color:#0FA47F ;
        margin-top: 25px;
        width: 360px;
        height: 60px;
        border-radius: 5px;
    }
    